.outerbox {
    /* border */
    border-radius: 28px;

    /* shadow */
    box-shadow: #949494 5px 5px 20px;

    /* margin and centre */
    width: 600px;
    margin: 56px auto;

    /* padding */
    padding: 12px;

    /* body font */
    font-family: "Franklin Gothic Book", Arial, sans-serif;
    color: #151515;
}

.innerbox {  
    /* border with gradient */
    border: 5px solid transparent;
    border-radius: 16px;
    background: linear-gradient(white, white) padding-box, linear-gradient(#198d8a, #1e198d) border-box;
    /* background-origin: border-box; */
    /* background-clip: padding-box, border-box; */

    /* padding */
    padding: 24px;

}

.title {
    /* title font */
    font-family: 'Franklin Gothic Medium', "Arial Black", sans-serif;
    font-size: 32pt;

    /* custom margin */
    margin: 24px 0px;
}

.subtitle {
    /* subtitle font */
    font-family: 'Franklin Gothic Medium', "Arial Black", sans-serif;
    font-size: 24pt;

    /* remove margin */
    margin: 0px;
}

.form-label {
    /* input label font */
    font-size: 18pt;

    /* add top margin */
    display: block;
    margin-top: 24px;
}

.form-text {
    /* make it wider */
    width: 50%;

    /* regular border */
    border: 2px solid;
    border-color: #949494;
    border-radius: 8px;

    /* padding & margin*/
    padding: 12px 8px;
    margin: 12px 0px;
    margin-right: 8px;

    /* individually set font */
    font-family: inherit;
    font-size: 14pt;
}

.form-text:focus {
    /* remove black outline */
    outline: none;

    /* active border */
    border-color: #198d8a;
}

#tooltip { 
    /* font for tooltip */
    font-size: 14pt;
    color:#198d8a;
    
    /* border circle */
    padding: 0px 6px;
    border: 2px solid #198d8a;
    border-radius: 50px;
    
    /* make pointer the hand */
    cursor: pointer;
}

#tooltip:after {
    /* tooltip text content */
    content: attr(data-text);

    /* make it float */
    position: absolute;
    
    /* make it not too wide */
    width: 180px;

    /* margin and padding */
    margin-left:24px;
    padding: 12px;

    /* round border */
    border-radius: 6px;

    /* background colour */
    background-color: #fafafa;

    /* font */
    font-size: 12pt;
    color:#151515;

    /* hide unless hover */
    display: none;
}

#tooltip:hover:after {
    /* show tooltip text on hover */
    display: inline;
}

#horizontal-radio {
    /* make div resize to fit content*/
    display: flex;
    
    /* margin */
    margin: 12px 0px;
}

.form-radio {
    /* don't show radio circles */
    display: none;
    visibility: hidden;
}

.form-radio + label {
    /* regular radio font */
    font-family: "Franklin Gothic Book", Arial, sans-serif;
    color: #949494;
    
    /* border */
    border-color: #949494;
    border: 2px solid;
    border-radius: 8px;

    /* radio label font */
    font-size: 14pt;

    /* padding & margin */
    padding: 6px 12px;
    margin-right: 8px;

    /* change pointer to hand */
    cursor: pointer;
}

.form-radio:checked + label{
    /* selected radio font*/
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #198d8a;

    /* border */
    border-color: #198d8a;
}

.form-button {
    /* regular button font */
    font-family: 'Franklin Gothic Medium', "Arial Black", sans-serif;
    font-size: 18pt;
    color:#1e198d;

    /* non hover border and fill */
    border: 2px solid transparent;
    border-radius: 8px;
    background: linear-gradient(white, white) padding-box, linear-gradient(#198d8a, #1e198d) border-box;

    /* padding & margin */
    padding: 8px 16px;
    margin: 24px 0px;

    /* make cursor the hand */
    cursor: pointer;
}

.form-button:hover {
    /* hover button font */
    color: #fafafa;

    /* hover fill */
    background: linear-gradient(#198d8a, #1e198d) border-box;
}

#output-text {
    /* generated episode font */
    font-size: 18pt;
}


