<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <header>
        <h1>SPN Roulette</h1>
    </header>
    <main>
        <section id="controls">
            <form id="controls-form" method="POST">
                <label for="seasons">Seasons:</label>
                <input name="seasons" type="text" />
                Separate seasons with a comma and indicate ranges with a dash
                <br />
                <label for="crack">Crack episodes:</label>
                <input checked="checked" name="crack" type="radio" value="0" /> Include 
                <input name="crack" type="radio" value="1" /> Exclude 
                <input name="crack" type="radio" value="2" /> Crack episodes only
                <br />
                <input name="submit-controls" type="submit" value="Generate" />
            </form>
        </section>
        <section id="output">
            <p id="output-text">
                {{ generated_ep }}
            </p>
        </section>
    </main>
</body>

</html>