<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <header>
        <h1 id="title">SPN Roulette</h1>
    </header>

    <main>
        <section id="controls">
            <form id="controls-form" method="POST">
                <div id="controls-form-seasons">
                    <label for="seasons">Seasons:</label><br />
                    <input name="seasons" type="text" value="1-12" /><br />
                    Separate seasons with a comma and indicate ranges with a dash
                </div>
                
                <div id="controls-form-crack">
                    <label for="crack">Crack episodes:</label><br />
                    <input checked="checked" name="crack" type="radio" value="0" /> Include<br />
                    <input name="crack" type="radio" value="1" /> Exclude<br />
                    <input name="crack" type="radio" value="2" /> Crack episodes only
                </div>
                
                <div id="controls-form-submit">
                    <input name="form1" type="submit" value="Generate" />
                </div>
            </form>
        </section>
        
        <section id="output">
            <p id="output-text">
                {{ generated_ep }}
            </p>
        </section>
    </main>
</body>

</html>